// 頁面（瀏覽器）與物件的間距：外間距--上下為0，左右自動；內間距--上下左右為0；設定在「*」（通用選擇器）
* {
    // 外間距--上下為0，左右自動 margin；若物件寬度小於100%時，物件將會自動 垂直 置中
    margin: 0 auto;
    // 內間距--上下左右為0 padding
    padding: 0;
}
body, html {
    // 寬度
    width: 100%;
    // 最大寬度
    max-width: 100vw;
    // 高度
    height: 100%;
}
// 圖片等比控制
img {
    // 寬度為100%;高度自動
    width: 100%;
    height: auto;
}

// 變數區
// vw 再父框架與子框架之間，會呈現誤差值，就是不管包在哪裡，都是以裝置的%計算，所以單位建議用 %
$W10: 10vw;
// 百分比單位
$W1P: 10%;

/* 
文字尺寸 單位 px（固定值）　em（百分比，會疊加父框架設定的值） rem（百分比，不會疊加父框架設定的值）
em 基礎為 1em = 16px ； rem 基礎為 1rem = 16px
*/
$Trem: 1rem;

// 繼承區（相同樣式）;將 scss 的繼承功能，寫在共用檔內，因為位置編排有誤，故造成 編譯 時出錯
/*
You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
無法由 @media （媒體判斷）去呼叫「外部連結」
*/
%DN {
    display: none;
}

// 計算區
// 計算 header Logo 與 MenaBtn 之間的寬度 手機裝置
@mixin LBW($WM, $WA) {
    // 計算區 1. 設變數 （承載值得物件名稱）$WM=倍數 $WA=加的數值
    // $LogoW: 10 * 8 + 5;
    $LogoW: $W10 * $WM + $WA;

    // MenaBtn寬度 = 父框架的總寬度（100） - Logo寬度（85）
    // $MenaBtnW: 100 - 85
    $MenuBtnW: $W10 * 10 - $LogoW;

    // 連動 計算寬度 Logo 與 MenaBtn

    // 呼叫 id （標籤 或 id 或 class）
    #LuluLogo {
        // 寬度
        width: $LogoW;
    }
    #MenuBtn {
        // 寬度
        width: $MenuBtnW;
    }
}

// 計算區
// 計算 header Logo 與 Icon 之間的寬度 手機裝置
@mixin LIW($WM, $WA) {
    // 計算區 1. 設變數 （承載值得物件名稱）$WM=倍數 $WA=加的數值
    // $LogoW: 10 * 8 + 5;
    $LogoW: $W10 * $WM + $WA;

    // Icon寬度 = 父框架的總寬度（100） - Logo寬度（85）
    // $IconW: 100 - 85
    $IconW: $W10 * 10 - $LogoW;

    // 連動 計算寬度 Logo 與 Icon

    // 呼叫 id （標籤 或 id 或 class）
    #LuluLogo {
        // 寬度
        width: $LogoW;
    }
    #LuluIcon {
        // 寬度
        width: $IconW;
    }
}

// 撰寫 scss 的「混合函式 mixin」，修正 scss 的繼承功能，無法被 @media 使用的問題
@mixin DN {
    display: none;
}

// 開啟隱藏物件
@mixin OB {
    // 顯示方式：區塊
    display: block;
}

// 清除浮動 float
@mixin ClearFloat {
    // 清除左右浮動
    clear: both;
}

// 隱藏項目符號
@mixin DNli {
    list-style: none;
}

// 商品 廣告背景圖片語法
@mixin BPhoto($PosiTion, $Size, $Material, $Image) {
    // 變數設定 1.對齊 $PosiTion  2.尺寸 $Size  3.資料夾位置 $Material ; 圖片 $Image
    // 問題：路徑無法直接讀取變數名稱，這一串→url(../../img/Banner/005.jpg)
    // 解答：scss提供的語法，插值寫法（基於 javascript 的 es6 語法），#{ 自訂名稱（只能是英文及數字）}，例如：#{$Image}，寫在路徑上

    width: $W10 * 10;
    // 不重複
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position: $PosiTion;
    // 背景圖片 尺寸
    background-size: $Size;
    // 背景圖片 輸入../ 意思是返回上層目錄
    background-image: url(../../img/#{$Material}/#{$Image});
}

// 手機版選單
@mixin PhoneMenu($PosiTion, $Size, $Material, $Image) {
    // 變數設定 1.對齊 $PosiTion  2.尺寸 $Size  3.資料夾位置 $Material ; 圖片 $Image
    // 問題：路徑無法直接讀取變數名稱，這一串→url(../../img/Banner/005.jpg)
    // 解答：scss提供的語法，插值寫法（基於 javascript 的 es6 語法），#{ 自訂名稱（只能是英文及數字）}，例如：#{$Image}，寫在路徑上

    // 不重複
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position: $PosiTion;
    // 背景圖片 尺寸
    background-size: $Size;
    // 背景圖片 輸入../ 意思是返回上層目錄
    background-image: url(../../img/#{$Material}/#{$Image});
}

// 圓角矩形
@mixin Rounded($Num) {
    // 邊框角度設定，建議單位為 像素（px）
    border-radius: $Num + px;
}

// 新品上市 架構
/* 
$TWM(Title寬度的倍數)
$TFSFSM(Title文字大小的倍數)
$NFSFSM(Number文字大小的倍數)
$MainW(Main寬度) 
$BR(背景顏色的R) 
$BG(背景顏色的G) 
$BB(背景顏色的B)
$TitleLe(Title的字距) 
$ImagesRa(商品圖片的圓角矩形)
$Lines(圖片的邊框粗細)
*/
@mixin NewCMer ( $TWM, $TFSFSM, $NFSFSM, $MainW, $BR, $BG, $BB, $TitleLe, $ImagesRa, $Lines ) {
    // 計算式
    $TW : $W1P * $TWM ;
    $NW : $W1P *10 - $TW;

    $TFS : $Trem * $TFSFSM;
    $NFS : $Trem * $NFSFSM;

    // 寬度 $W10 * 8.5
    width: $MainW;
    // 外間距
    margin: {
        bottom: 20px;
    }
    // // 重新定位原點 父框架設定 定位點：相對值；子框架設定 定位點：絕對值
    // position: relative;
    // 背景顏色 255,255,255
    background-color: rgb($BR, $BG, $BB);

    // 陰影 x軸 y軸 模糊程度 顏色(透明度)
    box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

    > #TitleBox {
        // 寬度
        width: $W1P * 8;
        // 彈性布局
        display: flex;
        // 換行
        flex-wrap: wrap;
        // 隱藏項目符號
        @include DNli;
        // 字距（不要打太大，例如 5px）2px
        letter-spacing: $TitleLe;
        // 與外框的距離（用margain只有下有作用，上沒有作用），所以用內間距 padding
        padding: {
            top: 15px;
            bottom: 10px;
        }
        // // 定位點：絕對值
        // position: absolute;
        // // 清除浮動
        // .Clear {
        //     clear: both;
        // }
        

        
        > .Title {
            width: $TW;
            // 文字大小
            font-size: $TFS;
        }
        > .Number {
            width: $NW;
            // 文字大小
            font-size: $NFS;
            // 靠右對齊
            text-align: right;
            // 計算 Title 及 Number 內間距的差
            padding: {
                top: $TFS - $NFS;
            }
        }
        > .Text {
            width: $W1P *10;
            // 靠右對齊
            text-align: right;
        }
    }
    
    > .Images {
        // 寬度
        width: $W1P * 9.5;
        // 高度 設定絕對高，不會隨著裝置高度變動
        // 高度因為用圖片連結，所以先拿掉
        // height: 300px;
        // 外間距 建議與TitleBox 中的 padding-bottom 數值相同
        margin: {
            bottom: 10px;
        }
        // 圓角矩形 邊框設定轉角的角度 10px 再往上加 5px 
        // border-radius: 15px;
        border-radius: $ImagesRa;
        
        // 為了好看 先把背景顏色拿掉
        // background-color: darksalmon;

        > a {
            > img {
                // 圖片邊框 線段的粗細(要加單位)2px 線段的樣式(實線) 線段的顏色
                border: $Lines solid rgb(73, 12, 12);

                // 圓角矩形
                // border-radius: 15px;
                border-radius: $ImagesRa;
            }
        }
    }

    > .LName {
        width: $W1P * 9;
        // 彈性布局 橫向排版
        display: flex;
        // 外間距
        margin: {
            bottom: 15px;
        };
        background-color: cadetblue;

        > h3 {
            width: $TW +10;
            // 文字尺寸
            font-size: $Trem * 1.4;
        }
        > li {
            width: $NW 10;
            // 隱藏項目符號
            // list-style-type: none;
            @include DNli;
        }

    }

    > .Brief {
        // 寬度
        width: $W1P * 8.5;
        // 文字對其 左右切齊
        text-align: justify;
        background-color: rgb(190, 189, 88);
        // 外間距
        margin: {
            bottom: 10px;
        }
    }

    > #PriceBox {
        // 寬度 
        width: $W1P * 9;
        // 隱藏項目符號
        @include DNli;
        // 彈性布局
        display: flex;
        // 內間距 只要是有包一層的 第一個及最後一個物件 只能用內間距推開 外間距無效
        padding: {
            bottom: 10px;
        }
        

        > .OriginalPrice {
            // 寬度
            width: $W1P *3.5;
            // 文字尺寸
            font-size: $Trem * 0.9;
            // 內間距 OriginalPrice 與 BargainPrice 對齊
            padding: {
                top: $Trem * 0.3;
            }

            > span {
                // 價格與原價的前後距離
                padding: {
                    left: 5px;
                    right: 5px;
                }
                // 文字顏色
                color: blue;
            }
        }

        > .BargainPrice {
            // 寬度
            width: $W1P * 4.5;
            // 文字尺寸
            font-size: $Trem * 1.2;

            > span {
                // em 或 rem 的尺寸，基於 根目錄 之下的值為基準
                font-size: $Trem * 1.5;
                // 價格與特價的前後距離
                padding: {
                    left: 5px;
                    right: 5px;
                }
                // 文字顏色
                color: brown;
                // 文字粗細 600就很粗
                font-weight: 600;
            }
        }

        >.Car {
            // 寬度
            width: $W1P *2;
        }
    }

}