@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*
You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
無法由 @media （媒體判斷）去呼叫「外部連結」
*/
@media screen and (max-width: 576px) {
  header {
    width: 100vw;
    background-color: #8cff69;
  }
  header nav {
    /*
		浮動對齊的問題 float
		1. #LuluLogo 與 #MenaBtn 物件的父框架 nav 無寬度
		2. nav 的父框架 header ，高度消失（展開）
		解決方式
		1. nav 的父框架 header ，給予高度；或是 nav 給予高度
		2. 清除浮動狀態，由 nav 設定
		3. 利用圖片高度撐開父框架的高（先將nav中的高拿掉 height: 10vh;）
		*/
    width: 100vw;
    background-color: indianred;
  }
  header nav #LuluLogo {
    width: 85vw;
  }
  header nav #MenaBtn {
    width: 15vw;
  }
  header nav #LuluLogo {
    float: left;
    background-color: aqua;
  }
  header nav #LuluIcon {
    display: none;
  }
  header nav .LuluBtnBox {
    display: none;
  }
  header nav #MenaBtn {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  footer {
    margin-top: 2rem;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    background-color: cadetblue;
  }
  footer p {
    text-align: center;
    margin-bottom: 0.7rem;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: #4d3517;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100vw;
    background-color: hotpink;
  }
  header nav {
    /*
		浮動對齊的問題 float
		1. #LuluLogo 與 #MenaBtn 物件的父框架 nav 無寬度
		2. nav 的父框架 header ，高度消失（展開）
		解決方式
		1. nav 的父框架 header ，給予高度；或是 nav 給予高度
		2. 清除浮動狀態，由 nav 設定
		3. 利用圖片高度撐開父框架的高（先將nav中的高拿掉 height: 10vh;）
		*/
    width: 100vw;
    background-color: #a5cd5c;
  }
  header nav #LuluLogo {
    width: 85vw;
  }
  header nav #MenaBtn {
    width: 15vw;
  }
  header nav #LuluLogo {
    float: left;
    background-color: aqua;
  }
  header nav #LuluIcon {
    display: none;
  }
  header nav .LuluBtnBox {
    display: none;
  }
  header nav #MenaBtn {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  footer {
    margin-top: 2rem;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    background-color: cadetblue;
  }
  footer p {
    text-align: center;
    margin-bottom: 0.7rem;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    background-color: hotpink;
  }
  header nav {
    /*
		浮動對齊的問題 float
		1. #LuluLogo 與 #MenaBtn 物件的父框架 nav 無寬度
		2. nav 的父框架 header ，高度消失（展開）
		解決方式
		1. nav 的父框架 header ，給予高度；或是 nav 給予高度
		2. 清除浮動狀態，由 nav 設定
		3. 利用圖片高度撐開父框架的高（先將nav中的高拿掉 height: 10vh;）
		*/
    width: 100vw;
    background-color: #875ccd;
  }
  header nav #LuluLogo {
    float: left;
    background-color: aqua;
  }
  header nav #LuluIcon {
    display: none;
  }
  header nav .LuluBtnBox {
    display: none;
  }
  header nav #MenaBtn {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  /*
大平板裝置的 LuluBtnBox 與 LuluIcon 取消「隱藏顯示」，但無法讀取，
因為，媒體判斷的順序是由 小尺寸 到 大尺寸，故 大尺寸 沒有下達任何語法時，會直接直判讀製小尺寸
*/
  header {
    width: 100vw;
    background-color: darkslateblue;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav #LuluLogo {
    width: 75vw;
  }
  header nav #LuluIcon {
    width: 25vw;
  }
  header nav #LuluIcon {
    display: block;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .LuluBtnBox {
    display: block;
    width: 100vw;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .LuluBtnBox ul {
    display: none;
  }
  header nav #MenaBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100vw;
    background-color: #3d8b64;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100vw;
    background-color: #b13c9d;
  }
  footer address {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */