// 呼叫 html 標籤，例如：nav，稱作 類型選擇器
// 呼叫 id，例如：<li id="test"></il>，id="test"，「#」ID選擇器；「#test」
// 呼叫 class，例如：class="test"，「.」類別選擇器； 「.test」
// scss 1. 巢狀寫法  2. 變數 $yourname（設定計算用的基礎值） 3.繼承 %yourname（css3相同寫法，但集中呈現）

// 傳統 css3 的寫法 隱藏
// header {
// 	width: 100%;
// }
// address,
// .LuluBtnBox,
// #LuluIcon {
// 	display: none;
// }
// #MenaBtn {
// 	background-color: cornflowerblue;
// }

// 目前使用的單位（數值）是 百分比（%）；網頁的固定單位--像素 px

header {
	// 寬度
	width: $W10 * 10;
	background-color: hotpink;

	nav {
		/*
		浮動對齊的問題 float
		1. #LuluLogo 與 #MenaBtn 物件的父框架 nav 無寬度
		2. nav 的父框架 header ，高度消失（展開）
		解決方式
		1. nav 的父框架 header ，給予高度；或是 nav 給予高度
		2. 清除浮動狀態，由 nav 設定
		*/
		width: $W10 * 10;
		background-color: indianred;
		// 解決方式二：清除浮動狀態，由 nav 設定;要先在index.html中，寫入一個段落（p），之後設定寫在_01Joint.scss，在第57行寫入呼叫

		// 靠左對齊（與 MenaBtn 同一行）
		#LuluLogo {
			// 浮點對齊法：靠左對齊 float:left
			float: left;
		}
		.LuluBtnBox {
			// 呼叫 混合函式
			@include DN;
		}
		#LuluIcon {
			// 呼叫 混合函式
			@include DN;
		}
		// 靠左對齊（與 LuluLogo 同一行）
		#MenaBtn {
			// 浮點對齊法：靠左對齊 float:left
			float: left;
		}
		.Clear {
			@include ClearFloat;
		}
	}
}

footer {
	address {
		// 呼叫 混合函式
		@include DN;
	}
}
