// 子元素選擇器（有指向性），例如 header > nav > #LuluIcon > li

#Main {
    background-color: rgb(216, 189, 156);

    #Banner {
        width: $W10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點：相對定位
        position: relative;

        // 連動相差值 ImgBox 及 Li 高度相差值；及連動 Btn 的高度
        $ImgPadding: 335px;
        // 父框架的padding 335px - 子框架的padding 250px = 相差值 $Differ
        $Differ: 85px;

        .Btn {
            width: 20px;
            height: 95px;

            // 水平置中
            text-align: center;
            // 垂直置中 高度 = 行距
            line-height: 95px;

            font-size: $Trem * 1.2;

            // 定位點 浮起來 （與移動圖層是同組概念，要先做定位點，才能移動圖層）
            position: absolute;
            // 移動階層 (圖層概念)　數值隨便設定　由小至大　但是要記得目前設定的是多少
            z-index: 5;

            // 左右按鈕，物件往下推算高度：（物件的父框架 / 2）-（按鈕的高度 / 2）
            top: ($ImgPadding / 2)- (95px / 2);

            // 圓角矩形
            @include Rounded(15);
        }
        .LeftBtn {
            left: 2.5vw;
            // 透明顏色用 rgba（255,255,255,0.25）前三個數字是rgb顏色，最後一個數字是透明度
            background-color: rgba(255, 255, 255, 0.25);
        }
        .RightBtn {
            // 方向 右邊為0（物件靠右對齊）；float 浮點對齊，配合 上下左右 方向推動
            right: 2.5vw;
            // 透明顏色用 rgba（255,255,255,0.25）前三個數字是rgb顏色，最後一個數字是透明度
            background-color: rgba(255, 255, 255, 0.25);
        }

        #ImgBox {
            width: $W10 * 10;
            @include DNli;

            // 內間距 設定 下方間距，當成圖片的高度，單位為 % 或 vh（會隨著裝置而改變）例如：800px * 26vh = 208px；固定值 px
            // padding-bottom: 40vh;
            // padding-bottom: 335px;
            padding-bottom: $ImgPadding;
            background-color: blueviolet;

            li {
                width: $W10 * 10;
                float: left;

                // 定位點 絕對定位：1. 單獨呼叫時，原點（x 0, y 0）會位於畫面 (可視範圍）的左上角
                // 2. 物件的父框架呼叫 相對定位（position）時，功能設為「重新定位原點至父框架」
                position: absolute;

                // 移動圖片位置：因為 不同手機會有不同的中心位置，無法逐一計算，所以要利用 背景圖片的方式修改
                // margin-left: -315px;

                // 文字大小
                font-size: 72px;
                // 文字至中
                text-align: center;

                // 內間距 設定 下方間距，當成圖片的高度，單位為 % 或 vh（會隨著裝置而改變）例如：800px * 26vh = 208px；固定值 px
                // padding-bottom: 25vh;
                // padding-bottom: 250px;
                // 子框架的padding = 父框架的padding - 相差值 $Differ
                padding-bottom: $ImgPadding - $Differ;
            }

            .Item01 {
                @include BPhoto(center, cover, Banner, "005.jpg");

                // width: $W10 * 10;
                // // 不重複
                // background-repeat: no-repeat;
                // // 背景圖片 置中對齊
                // background-position: center;
                // // 背景圖片 尺寸
                // background-size: cover;
                // // 背景圖片 輸入../ 意思是返回上層目錄
                // background-image: url(../../img/Banner/005.jpg);
            }

            .Item02 {
                // 英文字在數字前，數字被判定為「文字」；數字在英文字或底線（ _ ）前，數字被判定為數字；「0」為開頭，scss會自動刪除
                // 數字為文字，需轉換為「字串」，字串用雙引號包覆
                @include BPhoto(center, cover, Banner, "004.jpg");
            }

            .Item03 {
                @include BPhoto(center, cover, Banner, "003.jpg");
            }

            .Item04 {
                @include BPhoto(center, cover, Banner, "002.jpg");
            }

            .Item05 {
                @include BPhoto(center, cover, Banner, "001.jpg");
            }
        }
    }

    > #NewCommodity{
        > h1{
            // 文字尺寸
            font-size: $Trem *1.5;

            // 標題置中（文字置中）
            text-align: center;

            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
    }
}
