#Main {
    background-color: rgb(216, 180, 156);

    #Banner {
        width: $W10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點：相對定位
        position: relative;

        // 連動相差值 ImgBox 及 Li 高度相差值；及連動 Btn 的高度
        $ImgPadding: 550px;
        // 父框架的padding 335px - 子框架的padding 250px = 相差值 $Differ
        // 以增加 50px 為基礎值，相差值 增加 5px 為基礎值
        $Differ: 90px;

        .Btn {
            width: 20px;
            height: 95px;

            // 水平置中
            text-align: center;
            // 垂直置中 高度 = 行距
            line-height: 95px;

            font-size: $Trem * 1.2;

            // 定位點 浮起來 （與移動圖層是同組概念，要先做定位點，才能移動圖層）
            position: absolute;
            // 移動階層 (圖層概念)　數值隨便設定　由小至大　但是要記得目前設定的是多少
            z-index: 5;

            // 左右按鈕，物件往下推算高度：（物件的父框架 / 2）-（按鈕的高度 / 2）
            top: ($ImgPadding / 2)- (95px / 2);

            // 圓角矩形
            @include Rounded(15);
        }
        .LeftBtn {
            left: 2.5vw;
            // 透明顏色用 rgba（255,255,255,0.25）前三個數字是rgb顏色，最後一個數字是透明度
            background-color: rgba(255, 255, 255, 0.25);
        }
        .RightBtn {
            // 方向 右邊為0（物件靠右對齊）；float 浮點對齊，配合 上下左右 方向推動
            right: 2.5vw;
            // 透明顏色用 rgba（255,255,255,0.25）前三個數字是rgb顏色，最後一個數字是透明度
            background-color: rgba(255, 255, 255, 0.25);
        }

        #ImgBox {
            width: $W10 * 10;
            @include DNli;

            // 內間距 設定 下方間距，當成圖片的高度，單位為 % 或 vh（會隨著裝置而改變）例如：800px * 26vh = 208px；固定值 px
            // padding-bottom: 40vh;
            // padding-bottom: 335px;
            padding-bottom: $ImgPadding;
            background-color: rgb(226, 43, 98);

            li {
                width: $W10 * 10;
                float: left;

                // 定位點 絕對定位：1. 單獨呼叫時，原點（x 0, y 0）會位於畫面 (可視範圍）的左上角
                // 2. 物件的父框架呼叫 相對定位（position）時，功能設為「重新定位原點至父框架」
                position: absolute;

                // 移動圖片位置：因為 不同手機會有不同的中心位置，無法逐一計算，所以要利用 背景圖片的方式修改
                // margin-left: -315px;

                // 文字大小
                font-size: 72px;
                // 文字至中
                text-align: center;

                // 內間距 設定 下方間距，當成圖片的高度，單位為 % 或 vh（會隨著裝置而改變）例如：800px * 26vh = 208px；固定值 px
                // padding-bottom: 25vh;
                // padding-bottom: 250px;
                // 子框架的padding = 父框架的padding - 相差值 $Differ
                // 修正高度
                padding-bottom: $ImgPadding;
            }

            .Item01 {
                @include BPhoto(center, cover, Banner, "005.jpg");

                // width: $W10 * 10;
                // // 不重複
                // background-repeat: no-repeat;
                // // 背景圖片 置中對齊
                // background-position: center;
                // // 背景圖片 尺寸
                // background-size: cover;
                // // 背景圖片 輸入../ 意思是返回上層目錄
                // background-image: url(../../img/Banner/005.jpg);
            }

            .Item02 {
                // 英文字在數字前，數字被判定為「文字」；數字在英文字或底線（ _ ）前，數字被判定為數字；「0」為開頭，scss會自動刪除
                // 數字為文字，需轉換為「字串」，字串用雙引號包覆
                @include BPhoto(center, cover, Banner, "004.jpg");
            }

            .Item03 {
                @include BPhoto(center, cover, Banner, "003.jpg");
            }

            .Item04 {
                @include BPhoto(center, cover, Banner, "002.jpg");
            }

            .Item05 {
                @include BPhoto(center, cover, Banner, "001.jpg");
            }
        }
    }

    > #NewCommodity {
        // 將原本在TitleBox中的計算是搬到外面用
        // 計算式
        $TW: $W1P * 7;
        $NW: $W1P * 10 - $TW;

        $TFS: $Trem * 1.7;
        $NFS: $Trem * 1.1;

        // 背景圖
        background-image: url(../../img/BG/003.jpg);

        > h1 {
            width: $W1P * 10;
            // 文字尺寸
            font-size: $Trem * 1.5;

            // 標題置中（文字置中）
            text-align: center;

            // 內間距 只要是有包一層的 第一個及最後一個物件 只能用內間距推開 外間距無效
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }

        > article {
            width: $W1P * 9.5;
            // 導讀 03Small 02檔案

            > .NCommodity {
                // 寬度變數
                $NComW: $W1P * 10 / 3 - 3%;
                width: $NComW;

                // 外間距
                margin: {
                    bottom: 20px;
                    // (( 總寬度 100 ) - ( 物件的寬度 30.333 * 物件數 3 = 91 )) = 9（剩下的寬度）
                    // 剩下的寬度 / 左右邊 2 的總數 3
                    left: ((($W1P * 10) - ($NComW * 3)) / 2) / 3;
                    right: ((($W1P * 10) - ($NComW * 3)) / 2) / 3;
                }
                // // 重新定位原點 父框架設定 定位點：相對值；子框架設定 定位點：絕對值
                // position: relative;
                // 背景顏色
                background-color: azure;

                // 陰影 x軸 y軸 模糊程度 顏色(透明度)
                box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

                > #TitleBox {
                    // 寬度
                    width: $W1P * 8;
                    // 彈性布局
                    display: flex;
                    // 換行
                    flex-wrap: wrap;
                    // 隱藏項目符號
                    @include DNli;
                    // 字距（不要打太大，例如 5px）
                    letter-spacing: 2px;
                    // 與外框的距離（用margain只有下有作用，上沒有作用），所以用內間距 padding
                    padding: {
                        top: 15px;
                        bottom: 10px;
                    }
                    // // 定位點：絕對值
                    // position: absolute;
                    // // 清除浮動
                    // .Clear {
                    //     clear: both;
                    // }

                    > .Title {
                        width: $TW;
                        // 文字大小
                        font-size: $TFS;
                    }
                    > .Number {
                        width: $NW;
                        // 文字大小
                        font-size: $NFS;
                        // 靠右對齊
                        text-align: right;
                        // 計算 Title 及 Number 內間距的差
                        padding: {
                            top: $TFS - $NFS;
                        }
                    }
                    > .Text {
                        width: $W1P * 10;
                        // 靠右對齊
                        text-align: right;
                    }
                }

                > .Images {
                    // 寬度
                    width: $W1P * 8.5;
                    // 高度 設定絕對高，不會隨著裝置高度變動
                    // 高度因為用圖片連結，所以先拿掉
                    // height: 300px;
                    // 外間距 建議與TitleBox 中的 padding-bottom 數值相同
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度 10px 再往上加 5px
                    // border-radius: 10px;
                    @include Rounded(15);

                    // 為了好看 先把背景顏色拿掉
                    // background-color: darksalmon;

                    > a {
                        > img {
                            // 圖片邊框 線段的粗細(要加單位) 線段的樣式(實線) 線段的顏色
                            border: 2px solid rgb(73, 12, 12);

                            // 圓角矩形
                            // border-radius: 15px;
                            @include Rounded(15);
                        }
                    }
                }

                > .LName {
                    width: $W1P * 9;
                    // 彈性布局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 15px;
                    }
                    background-color: cadetblue;

                    > h3 {
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }
                    > li {
                        width: $NW 10;
                        // 隱藏項目符號
                        // list-style-type: none;
                        @include DNli;
                    }
                }

                > .Brief {
                    // 寬度
                    width: $W1P * 8.5;
                    // 文字對其 左右切齊
                    text-align: justify;
                    background-color: rgb(190, 189, 88);
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                }

                > #PriceBox {
                    // 寬度
                    width: $W1P * 9;
                    // 隱藏項目符號
                    @include DNli;
                    // 彈性布局
                    display: flex;
                    // 內間距 只要是有包一層的 第一個及最後一個物件 只能用內間距推開 外間距無效
                    padding: {
                        bottom: 10px;
                    }

                    > .OriginalPrice {
                        // 寬度
                        width: $W1P * 3.5;
                        // 文字尺寸
                        font-size: $Trem * 0.9;
                        // 內間距 OriginalPrice 與 BargainPrice 對齊
                        padding: {
                            top: $Trem * 0.3;
                        }

                        > span {
                            // 價格與原價的前後距離
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color: blue;
                        }
                    }

                    > .BargainPrice {
                        // 寬度
                        width: $W1P * 4.5;
                        // 文字尺寸
                        font-size: $Trem * 1.2;

                        > span {
                            // em 或 rem 的尺寸，基於 根目錄 之下的值為基準
                            font-size: $Trem * 1.5;
                            // 價格與特價的前後距離
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color: brown;
                            // 文字粗細 600就很粗
                            font-weight: 600;
                        }
                    }

                    > .Car {
                        // 寬度
                        width: $W1P * 2;
                    }
                }
            }
        }

        // more
        > .more {
            width: $W1P * 8;
            // 文字對齊 靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem * 1.3;
            // 英文小寫轉換為大寫
            text-transform: uppercase;
            // 字距
            letter-spacing: 2px;
            // 內間距
            padding: {
                bottom: 15px;
            }
            // background-color: rgb(194, 155, 155);

            > a {
                // 寬度及高度 用 內間距 padding 設定 上下 左右
                padding: 5px 30px;
                // 顯示方式 文字方塊
                display: inline-block;
                background-color: rgb(1, 70, 134);
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color: rgb(255, 255, 255);
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }

    > #Share {
        // 將原本在TitleBox中的計算是搬到外面用
        // 計算式
        $TW: $W1P * 7;
        $NW: $W1P * 10 - $TW;

        $TFS: $Trem * 1.7;
        $NFS: $Trem * 1.1;

        // 背景圖
        background-image: url(../../img/BG/002.jpg);

        > h1 {
            width: $W1P * 10;
            // 文字尺寸
            font-size: $Trem * 1.5;

            // 標題置中（文字置中）
            text-align: center;

            // 內間距 只要是有包一層的 第一個及最後一個物件 只能用內間距推開 外間距無效
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }

        > article {
            width: $W1P * 9.5;

            > .NCommodity {
                // 寬度變數
                $NComW: $W1P * 10 / 3 - 3%;
                width: $NComW;

                // 外間距
                margin: {
                    bottom: 20px;
                    // (( 總寬度 100 ) - ( 物件的寬度 30.333 * 物件數 3 = 91 )) = 9（剩下的寬度）
                    // 剩下的寬度 / 左右邊 2 的總數 3
                    left: ((($W1P * 10) - ($NComW * 3)) / 2) / 3;
                    right: ((($W1P * 10) - ($NComW * 3)) / 2) / 3;
                }
                // // 重新定位原點 父框架設定 定位點：相對值；子框架設定 定位點：絕對值
                // position: relative;
                // 背景顏色
                background-color: azure;

                // 陰影 x軸 y軸 模糊程度 顏色(透明度)
                box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

                > .Null {
                    height: 30px;
                }

                > .Images {
                    // 寬度
                    width: $W1P * 8.5;
                    // 高度 設定絕對高，不會隨著裝置高度變動
                    // 高度因為用圖片連結，所以先拿掉
                    // height: 300px;
                    // 外間距 建議與TitleBox 中的 padding-bottom 數值相同
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度 10px 再往上加 5px
                    // border-radius: 10px;
                    @include Rounded(15);

                    // 為了好看 先把背景顏色拿掉
                    // background-color: darksalmon;

                    > a {
                        > img {
                            // 圖片邊框 線段的粗細(要加單位) 線段的樣式(實線) 線段的顏色
                            border: 2px solid rgb(73, 12, 12);

                            // 圓角矩形
                            // border-radius: 15px;
                            @include Rounded(15);
                        }
                    }
                }

                > .LName {
                    width: $W1P * 9;
                    // 彈性布局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 15px;
                    }
                    background-color: cadetblue;

                    > h3 {
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }
                    > li {
                        width: $NW 10;
                        // 隱藏項目符號
                        // list-style-type: none;
                        @include DNli;
                    }
                }

                > .Brief {
                    // 寬度
                    width: $W1P * 8.5;
                    // 文字對其 左右切齊
                    text-align: justify;
                    background-color: rgb(190, 189, 88);
                    // 內間距
                    padding: {
                        bottom: 20px;
                    }
                }
            }
        }

        // more
        > .more {
            width: $W1P * 8;
            // 文字對齊 靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem * 1.3;
            // 英文小寫轉換為大寫
            text-transform: uppercase;
            // 字距
            letter-spacing: 2px;
            // 內間距
            padding: {
                bottom: 15px;
            }
            // background-color: rgb(194, 155, 155);

            > a {
                // 寬度及高度 用 內間距 padding 設定 上下 左右
                padding: 5px 30px;
                // 顯示方式 文字方塊
                display: inline-block;
                background-color: rgb(1, 70, 134);
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color: rgb(255, 255, 255);
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }
}
